@font-face {
    font-family: 'Montserat-bold';
    src: url(/font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Montserat-black';
    src: url(/font/Montserrat-Black.ttf);
}


header{
    height: 65px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Montserrat-Bold';
    margin-bottom: 25px;
}


.logo{
    height: 38px;
    width: 105px;
    margin-left: 40px;
    margin-top: 16px;
    cursor: pointer;
}

.header-menu{
    margin-right: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    font-family: 'Montserrat-Bold';
    
}



.main{
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: 375px 1fr;
}

.profile{
    display: grid;
    margin-left: 40px;
    margin-right: 62px;
    row-gap: 20px;
}
.profile-profile{
    font-size: 30px;
    line-height: 37px;
    color: #353535;
    font-family: 'Montserat-black';
    height: 37px;
    margin-bottom: 60px;
    margin-left: 40px;
}
.profile-info{
    display: grid;
   
    row-gap: 15px;
    justify-content: center;
}

.profile-name{
    font-size: 30px;
    line-height: 37px;
    font-family: 'Montserat-black';
    color: #353535;
    
}


.sign{
    border-width: 0.5px 0px;
border-style: solid;
border-color: #AAAAAA;
flex-direction: row;
align-items: flex-start;
padding: 10px 80px;
gap: 10px;

width: 216px;
height: 38px; 
margin-top: 200px;
}

.purchase-history{
    background-color: #F9F9F9;
    margin-right: 43px;
}
.purchase-history__name{
    font-size: 20px;
    line-height: 24px;
    font-family: 'Montserat-black';
    margin-top: 40px;
    margin-left: 40px;

}
footer{
    background-color: #353535;
}

.footer-content{
    /* width: 100%; */

    height: 208px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-menu{
    width: 160px;
    display: grid;
    justify-content: space-around;
}

.footer-menu-btn{
    color: white;
    font-family: 'Montserrat-Black';
    font-size: 15px;
}

.address-info{
    color: white;
    font-family: 'Montserrat-Black';
    font-size: 15px;
}

.footer-menu-btn{
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

.address-info{
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    font-family: 'Montserrat-Black';
}

.address{
    width: 197px;
    display: grid;
    justify-content: space-around;
    justify-items: end
}

.footer-center{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.footer-text-info{
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.social-network-svg{
    width: 20px;
    margin-left: 11.44px;
    margin-right: 11.44px;
    cursor: pointer;
}

.social-network{
    margin-top: 36px;
}

.footer-text{
    margin-top: 36px;
}



/* display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 80px;
gap: 10px;

width: 216px;
height: 38px;



border-width: 0.5px 0px;
border-style: solid;
border-color: #AAAAAA; */
