body{
    /* max-width: 1440px;  */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* display: grid; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* background-color: white; */
    
}

@font-face {
	font-family: 'Montserrat-Bold'; 
	src: url( '../font/Montserrat-Bold.ttf') format("truetype");
    font-style: normal; 
}
/*
@font-face {
	font-family: 'Montserrat-Black';
	src: url( '../font/Montserrat-Black.ttf') format("truetype");
    font-style: normal;
}
*/
header{
    height: 65px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Montserrat-Bold', sans-serif;
}

.container{
    max-width: 1440px;
    /* width: 1440px; */
    margin-right: auto;
    margin-left: auto;
    /* display: grid;
    justify-content: center; */
}

.logo{
    height: 38px;
    width: 105px;
    margin-left: 40px;
    margin-top: 16px;
    cursor: pointer;
}

.header-menu{
    margin-right: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    
}

a{
    cursor: pointer;
    color: #353535;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

p{
    color: #353535; 
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* ____-------------------------------------------------- */
.sort{
    margin-top: 65px;
    margin-left: 40px;
}

.sort-text{
    font-size: 30px;
    font-family: 'Montserrat-Black'; 

}

.sort-btn{
    display: flex;
    margin-top: 50px;
}

.sort-btn-price{
    font-family: 'Montserrat-Black';
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 160px;
    background: #353535;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.sort-btn-brend{
    font-family: 'Montserrat-Black';
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 160px;
    background: #353535;
    border-radius: 5px;
    color: white;
    margin-left: 4px;
    cursor: pointer;
}

.products{
    margin-top: 60px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}

.tovar{
    display: grid;
    width: 325px;
    height: 403px;
    background: #EEEEEE;
    border-radius: 5px;
    margin-bottom: 90px;
    transition: all 0.4s ease;
}

.tovar-img{
    width: 220px;
    height: 220px;
    margin-left: 51px;
    margin-top: 43px;
}

.tovar-info{
    width: 325px;
    height: 117px;
    background-color: #F9F9F9;
    margin-top: 28px;
}

.tovar-name{
    font-family: 'Montserrat-Black';
    font-size: 20px;
    margin-left: 11px;
    margin-top: 9.72px;
}

.btn-buy{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 7px;
    background-color: #353535;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat-Bold'; 
    border-radius: 5px;
    margin-left: 10px;
}

.buy{
    display: flex;
    margin-top: 45px;
}

.tovar-price{
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat-Black';
    margin-left: 106px;
}
/* ------------------------------------------- */
footer{
    background-color: #353535;
    flex-wrap: wrap;
}

.footer-content{
    /* width: 100%; */


    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 164px;
    flex-wrap: wrap;
}

.footer-menu{
    width: 160px;
    display: grid;
    justify-content: space-around;
}

.footer-menu-btn{
    color: white;
    font-family: 'Montserrat-Black';
    font-size: 15px;
}

.address-info{
    color: white;
    font-family: 'Montserrat-Black';
    font-size: 15px;
    text-decoration: none;
}

.footer-menu-btn{
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

.address-info{
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

.address{
    width: 197px;
    display: grid;
    justify-content: space-around;
    justify-items: end
}

.footer-center{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.footer-text-info{
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.social-network-svg{
    width: 20px;
    margin-left: 11.44px;
    margin-right: 11.44px;
    cursor: pointer;
}

.social-network{
    margin-top: 36px;
}

.footer-text{
    margin-top: 36px;
}
/* ------------------------------------------------ */
.sort-btn-brend {

    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.sort-btn-brend:hover, .sort-btn-brend:focus {

}

/* The container <div> - needed to position the dropdown content */
.sort-btn {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    z-index: 2;
    margin-top: 36px;
    margin-left: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    display: grid;
    justify-content: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.grid{
    display: grid;
    justify-content: center;
}

.sort-button{
    font-family: 'Montserrat-Black';
    color: #353535;

}

.reset-btn{
    font-family: 'Montserrat-Black';
    color: #353535;
}

.block-tovar{
    display: flex;
    margin-top: 130px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.block-tovar-img{
    width: 435px;
    height: 435px;
}

.block-tovar-info{
    width: 462px;

    background-color: #F9F9F9;
    margin-left: 50px;
    border-radius: 5px;
}

.block-tovar-name{
    font-family: 'Montserrat-Black';
    color: #353535;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 50px;
}

.block-tovar-accessories{
    font-family: 'Montserrat-Bold';
    font-size: 15px;
    color: #353535;
    line-height: 28px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.block-tovar-price{
    color: #353535;
    font-family: 'Montserrat-Black';
    font-size: 30px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bar1{
    width: 39px;
   height: 39px;
   margin-right: 6px;
   cursor: pointer;
   background: #8080A0;
   border-radius: 30px;
   transition: all 0.4s ease;
}

.bar2{
    width: 39px;
   height: 39px;
   margin-right: 6px;
   cursor: pointer;
   background: #1E1E1E;
   border-radius: 30px;
   transition: all 0.4s ease;
}

.bar3{
    width: 39px;
   height: 39px;
   cursor: pointer;
   background: #C52B35;
   border-radius: 30px;
   transition: all 0.4s ease;

}

.bar1:hover {
    opacity: 1;
    transform:scale(1.1);
}

.bar2:hover {
    opacity: 1;
    transform:scale(1.1);
}

.bar3:hover {
    opacity: 1;
    transform:scale(1.1);
}

.navigation{
    display: flex;
    margin-top: 72px;
    margin-left: 50px;
}

.block-tovar-buy{
    padding: 16px 54px 16px 54px;
    background: #353535;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.block-btn{
    display: flex;
    font-family: 'Montserrat-Black';
    margin-left: 50px;
    margin-bottom: 30px;
}

.block-tovar-cart{
    padding: 16px 41px 16px 41px;
    background: #ffffff;
    border-radius: 5px;
    color: #353535;
    border: 2px solid #353535;
    margin-left: 10px;
    cursor: pointer;
}


#s2:checked ~ .block-tovar-img{
    margin-left: -50%;
}

.tovar:hover {
    opacity: 1;
    transform:scale(1.1);
    box-shadow: -10px 0px 20px rgba(53, 53, 53, 0.2), 0px -10px 20px rgba(53, 53, 53, 0.2), 10px 0px 20px rgba(53, 53, 53, 0.2), 0px 10px 20px rgba(53, 53, 53, 0.2);
}

@media(max-width: 950px){
    .block-tovar-info{
        margin-top: 30px;
        margin-left: 30px;
    }

    .block-tovar-name{
        margin-left: 30px;
    }

    .block-tovar-accessories{
        margin-left: 30px;
    }

    .navigation{
        margin-left: 30px;
    }

    .block-tovar-price{
        margin-left: 30px;
    }

    .block-btn{
        margin-left: 0;
        justify-content: center;
    }

    .block-tovar-cart{
        margin-left: 20px;
    }
}

@media(max-width: 680px){
    .footer-content{
      display: flex;  

    }

    .address{
        justify-items: center;
        margin-top: 20px;  
    }

    .footer-menu{
        justify-items: center;
        margin-top: 20px;  
    }

    .footer-center{
        margin-top: 20px;
    }

    .tovar{
        width: 164px;
        height: 204px;
        margin-bottom: 30px;
    }

    .tovar-img{
        width: 111px;
        height: 111px;
    }

    .tovar-info{
        width: 164px;
        height: 59px;
    }

    .btn-buy{
        padding: 3px 5px 3px 5px;
        font-size: 7.6px;
        width: 53px;
    }

    .tovar-name{
        font-size: 10px;
    }

    .buy{
        margin-top: 15.5px;
    }

    .tovar-price{
        margin-left: 50px;
        font-size: 10px;
        margin-right: 8px;
    }

    .tovar-img{
        margin-top: 21.80px;
        margin-left: 25.80px;
    }

    .sort{
       margin-left: 10px; 
    }

    .logo{
        margin-left: 10px;
    }

    .header-menu{
        margin-right: 10px;
        margin-left: 10px;
    }

    .block-tovar-img{
        width: 350px;
        height: 350px;
    }

    .block-tovar-info{
        margin-top: 30px;
        margin-right: 30px;
    }
}

@media(max-width: 430px){
    .block-tovar-buy{
        padding: 16px 40px 1px 40px;
    }

    .block-tovar-cart{
        padding: 16px 20px 16px 20px;
    }
}
